*~
*.o
*.lo
configure
Makefile
Makefile.in
autom4te.cache
aclocal.m4
stamp-h.in
config.h.in
config.log
config.h
.libs
.deps
libusnic_verbs.spec
config.status
stamp-h1
libtool
*~
*.la
*.lo
.dirstamp
.libs
.deps
